.form {
  width: 100%;
}

.wrap-form {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 62px 55px 65px 55px;

  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.form-image {
  display: block;
  font-family: JosefinSans-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 30px;
}

.form-img {
  width: 200px
}

.title {
  font-family: JosefinSans-Light;
	font-size: 20px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
  padding-bottom: 25px;
}
