/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: JosefinSans-Bold;
  src: url('./assets/fonts/JosefinSans/JosefinSans-Bold.ttf');
}

@font-face {
  font-family: JosefinSans-Light;
  src: url('./assets/fonts/JosefinSans/JosefinSans-Light.ttf');
}

@font-face {
  font-family: Oswald-Medium;
  src: url('./assets/fonts/oswald/Oswald-Medium.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: JosefinSans-Bold;
	font-size: 16px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
  cursor: pointer;
  text-decoration: underline;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	 text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: JosefinSans-Light;
	font-size: 16px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder {color: #999999;}
input:-moz-placeholder {color: #999999;}
input::-moz-placeholder {color: #999999;}
input:-ms-input-placeholder {color: #999999;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}
